<div class="container">
    <div class="row">
        <div class="col-6 form-wrapper p-5 mt-5">
            <h3>Create Plan</h3>
            <%= form_for(@plan) do |f| %>

                <div class="form-group">
                    <%= f.label :name %>
                    <%= f.text_field :name, class: 'form-control' %>
                </div>
                <%= render "/shared/field_errors", resource: @plan, field: :name %>

                <div class="form-group">
                    <%= f.label :features %>
                    <%= f.collection_select :feature_ids, @features, :id, :name, {include_hidden: false}, {multiple: true, class: 'form-control'} %>
                </div>
                <%= render "/shared/field_errors", resource: @plan, field: :code %>

                <%= f.submit 'Create Plan', class: 'btn btn-success' %>
            <% end %>

            <h5 class="mt-3">
                <%= link_to 'Back', plans_path %>
            </h5>

        </div>
    </div>
</div>